code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  font-family: "NEXON Lv2 Gothic";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-style: normal;
  src: url(./font/NEXON_Lv2_Gothic/NEXON_Lv2_Gothic.ttf);
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-style: bold;
  src: url(./font/NEXON_Lv2_Gothic/NEXON_Lv2_Gothic_Bold.ttf);
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-style: 100;
  src: url(./font/NEXON_Lv2_Gothic/NEXON_Lv2_Gothic_Light.ttf);
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-style: 400;
  src: url(./font/NEXON_Lv2_Gothic/NEXON_Lv2_Gothic_Medium.ttf);
}
@font-face {
  font-family: "Recipekorea";
  src: url(./font/recipekorea/Recipekorea.FONT.ttf);
}
