@charset "utf-8";
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: "NEXON Lv2 Gothic";
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  line-height: 1;
}
.cf::after {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  display: block;
  clear: both;
}
.blind {
  display: none;
}
fieldset {
  border: none;
}
caption {
  display: none;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("../Font/NEXON\ Lv2\ Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../Font/Recipekorea\ 레코체\ FONT.otf");
  font-family: "Recipekorea";
}
